﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WSHostedAPI</title>
    <base href="~/" />
    <link href="~/dist/style.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()

    <script>
    </script>   
    @RenderSection("scripts", required: false)   
</body>
</html>